:root {
  --darkGray: hsl(0, 0%, 55%);
  --veryDarkGray: hsl(0, 0%, 41%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Alata", sans-serif, "Josefin Sans", sans-serif;
  font-size: 15px;
}

header {
  background-image: url(./images/desktop/image-hero.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  width: 100%;
  height: 85vh;
}

a {
  cursor: pointer;
}

nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
  padding: 4rem;
}

#logo {
  z-index: 2;
  margin-right: auto;
  margin-left: 10%;
}

.container1 {
  list-style-type: none;
  margin-right: 5%;
}
.container1 li {
  display: inline-block;
}

.container1 li a {
  color: white;
  font-weight: 400;
  font-family: "Alata", sans-serif;
  text-decoration: none;
  margin: 0px 20px;
  letter-spacing: 1px;
  cursor: pointer;
}

.container1 li a::selection {
  background-color: purple;
}

#logo::selection {
  background-color: purple;
}
.head-box {
  display: inline-block;
  border: 2.5px solid white;
  color: white;
  margin-left: 12.5%;
  padding: 2.5rem;
  font-size: 3rem;
  margin-top: 7%;
  padding-right: 8rem;
}

.head-box h1 {
  font-weight: 200;
  font-family: "Josefin Sans", sans-serif;
}

.head-box h1::selection {
  background-color: purple;
}

main {
  margin-top: 10%;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 10%;
}

.main-container{
  position: relative;

  height: 60vh;
}

.goggles-img{
  position: absolute;
  display:block;
  background-image: url(./images/desktop/image-interactive.jpg);
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: 100%;
  width:60%;
  max-width: 100%;
  height: 100%;
  margin-left: 0;
  margin-right: auto;
}

.goggles-text{
  position: absolute;
  display: block;
  height: auto;
  width: 52.5%;
  padding-left: 5%;
  bottom: 0;
  right: 0;
  background-color: white;
  text-align: left;
  word-spacing: 1px;
}

.goggles-text h1{
  font-family: "Josefin Sans", sans-serif;
  font-weight: 200;
  font-size: 3.5rem;
}
.goggles-text h1:nth-child(1){
  margin-top: 12.5%;
}

.goggles-text p {
  font-family: "Alata", sans-serif;
  color: var(--darkGray);
  font-size: 1.5rem;
}

.goggles-text p:nth-child(3){
  margin-top: 7.5%;
}



.creations {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
  margin-bottom: 5%;
}

.creations h1 {
  margin-right: auto;
  margin-left: 12.8%;
  font-family: "Josefin Sans", sans-serif;
}

.creations a {
  display: inline-block;
  margin-right: 9.5%;
  border: 1px solid black;
  background-color: white;
  color: black;
  padding: 0.625rem 3.75rem;
  text-decoration: none;
  font-family: "Alata", sans-serif;
  letter-spacing: 2px;
  border-radius: 2px;
  transition: 0.75s ease;
}

.creations a:hover {
  background-color: black;
  color: white;
}

footer {
  background-color: black;
  padding-top: 2.5%;
  padding-bottom: 2.5%;
}

.fpartone {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
}
.fpartone img {
  margin-right: auto;
  margin-left: 12.5%;
}
#icons {
  margin-right: 9%;
  letter-spacing: 0.5rem;
}

i {
  color: white;
  font-size: 2rem;
}

.fparttwo {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
  margin-top: 2rem;
}

.footer-nav {
  margin-right: auto;
  margin-left: 11.25%;
}

.footer-nav li {
  display: inline-block;
}

.footer-nav li a {
  color: white;
  font-weight: 400;
  font-family: "Alata", sans-serif;
  text-decoration: none;
  margin: 0px 20px;
  letter-spacing: 1px;
  cursor: pointer;
}

.fparttwo h3 {
  font-family: "Alata", sans-serif;
  color: var(--veryDarkGray);
  margin-right: 9%;
  font-size: 1.15rem;
}

.attribution {
  background-color: black;
  font-family: "Alata", sans-serif;
  font-size: 0.5rem;
  color: white;
}

/*Footer Underline Animation*/

.container1 li a {
  position: relative;
  color: white;
  text-decoration: none;
}

.container1 li a:hover {
  color: white;
}

.container1 li a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: white;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
}

.container1 li a:hover::before {
  visibility: visible;
  transform: scaleX(1);
}

.footer-nav li a {
  position: relative;
  color: white;
  text-decoration: none;
}

.footer-nav li a:hover {
  color: white;
}

.footer-nav li a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: white;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
}

.footer-nav li a:hover::before {
  visibility: visible;
  transform: scaleX(1);
}

/*Grid Image Animation*/

.cardContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100vh;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  transform-style: preserve-3d;
  width: 90rem;
}

section .card {
  position: relative;
  width: 17rem;
  height: 30rem;
  margin: 1.5rem;
  transform-style: preserve-3d;
  perspective: 1100px;
}

section .card .box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: 1s ease;
}

section .card:hover .box {
  transform: rotateY(180deg);
}

section .card .box .imgBox {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

section .card .box .imgBox img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

section .card .box .contentBx {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid black;
  background: rgba(255, 255, 255, 0.25);
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  transform-style: preserve-3d;
  transform: rotateY(180deg);
}

section .card .box .contentBx div {
  transform-style: preserve-3d;
  padding: 20px;
  background: linear-gradient(25deg, #141e30, #243b55);
  box-shadow: rgb(38, 57, 77) 0px 15px 15px -10px;
  transform: translateZ(100px);
}

section .card .box .contentBx div h2 {
  color: white;
  font-size: 2.5rem;
  letter-spacing: 2px;
  font-weight: 200;
  font-family: "Josefin Sans", sans-serif;
}

section .card .box .contentBx div p {
  color: white;
  font-size: 16px;
}

section .card .box .contentBx div a {
  color: white;
  font-family: "Alata", sans-serif;
  letter-spacing: 1px;
  text-decoration: none;
}

section .card .box .contentBx div a {
  position: relative;
  color: white;
  text-decoration: none;
}

section .card .box .contentBx div a:hover {
  color: white;
}

section .card .box .contentBx div a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: white;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
}

section .card .box .contentBx div a:hover::before {
  visibility: visible;
  transform: scaleX(1);
}

section .card .box .contentBx div a {
  position: relative;
  color: white;
  text-decoration: none;
}

section .card .box .contentBx div a:hover {
  color: white;
}

section .card .box .contentBx div a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: white;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
}

section .card .box .contentBx div a:hover::before {
  visibility: visible;
  transform: scaleX(1);
}

section .card .box .contentBx h2::selection {
  background: #243b55;
}

section .card .box .contentBx a::selection {
  background: #243b55;
}

#icons a {
  position: relative;
  color: white;
  text-decoration: none;
}

#icons a:hover {
  color: white;
}

#icons a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;

  bottom: -4px;
  left: 0;
  background-color: white;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
}

#icons a:hover::before {
  visibility: visible;
  transform: scaleX(0.9);
}

nav label,
input,
.goggles_m, 
.main-box-m,
.card-container-m,
.h1m,
.cardContainer-m,
.creations-m,
.footer-m,
.container2{
  display: none;
}




@media only screen and (max-width: 600px) {
  nav ul,.main-container {
    display: none;
  }

  .container1,.container1 li a{
    display: none;

  }

  .footer-d{
    display: none;
  }

  .cardContainer{
    display: none;
  }


/*Hamburger Icon Start*/

.menu-btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 0.5rem;
  cursor: pointer;
  transition: all .5s ease-in-out;
  /* border: 3px solid #fff; */
}
.menu-btn__burger {
  width: 2rem;
  height: 0.215rem;
  background: #fff;
  border-radius: 1rem;
  transition: all .5s ease-in-out;
}
.menu-btn__burger::before,
.menu-btn__burger::after {
  content: '';
  position: absolute;
  width: 2.25rem;
  height: 0.215rem;
  background: #fff;
  border-radius: 1rem;
  transition: all .5s ease-in-out;
}
.menu-btn__burger::before {
  transform: translateY(-0.75rem);
}
.menu-btn__burger::after {
  transform: translateY(0.75rem);
}
/* ANIMATION */
.menu-btn.open .menu-btn__burger {
  transform: translateX(-3.125rem);
  background: transparent;
  box-shadow: none;
}
.menu-btn.open .menu-btn__burger::before {
  transform: rotate(45deg) translate(2.188rem, -2.188rem);
}
.menu-btn.open .menu-btn__burger::after {
  transform: rotate(-45deg) translate(2.188rem, 2.188rem);
}

  /*Hamburger Icon END*/
    

  

  header {
    background-image: url(./images/mobile/image-hero.jpg);
    background-size: 100%;
    width: 100%;
    background-repeat: no-repeat;
    margin-bottom: -10vh;  
  }

  #logo {
    margin-left: 0;
    margin-right: auto;
  }
  .h1d {
    display: none;
  }
  .head-box {
    display:block;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 100;
    margin-top: 20%;
    font-size: 1.5rem;
    margin-left: 5%;
    max-width: 25rem;
    padding: 1rem;
    margin-right: 2.5%;
  }

  
  nav {
    padding-left: 6.25%;
    padding-right: 6.25%;
  }
  .goggles{
    display: none;
  }
  
  .goggles_m {
    display: block;
    width: 87.5%;
    margin-left: auto;
    margin-right: auto;
  }

  main{
    margin-top: 15vh;
    margin-left: 0%;
  }
  .main-box{
    display: none;
  }

  .main-box-m{
    display: block;
    text-align: center;
    margin-left: 0%;

  }

  .h1m{
    display: block;
  }

  .main-box-m h1{
    font-family: "Josefin Sans", sans-serif;
    font-weight: 200;
    font-size: 2.5rem;
    ;
  }

  .main-box-m h1:nth-child(1){
    margin-top: 10%;
  }

  .main-box-m h1:nth-child(2){
    margin-bottom: 10%;
  }

  .main-box-m p{
      margin-bottom: 1%;
      font-family: "Alata", sans-serif;
      font-weight: 400;
      font-size: 1.25rem;
      color: var(--veryDarkGray);
      
  }

  .creations a {
    display: none;
  }

  .creations h1{
    
    font-family: "Josefin Sans", sans-serif;
    font-weight: 400;
    text-align: center;
    margin-left: auto;
    margin-bottom: 5%; 
  }

  .card-container-m{
    display: block;
    width: 87.5%;
    margin-left: auto;
    margin-right: auto;
  }

/* Grid Container-mobile*/

  .img-m{
    position: relative;
    display: block;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
    height:9rem;
    max-height: 9rem;
    background-size: 100%;
    margin-bottom: 5%;
  }

  .img-m a {
    position: absolute;
    bottom: 0;
    left: 0;
    padding-left: 5%;
    padding-bottom: 5%;
    text-decoration: none;
  }

  .img-m a h1{
    font-size: 1.75rem;
    color: white;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 200;
  }

  .img-m a h1:nth-child(2){
    border-bottom: 1px solid yellow;
  }

  /*Grid Images*/
  .img-one{
    background-image: url(./images/mobile/image-deep-earth.jpg);
  }
  .img-two{
    background-image: url(./images/mobile/image-night-arcade.jpg);
  }
  .img-three{
    background-image: url(./images/mobile/image-soccer-team.jpg);
  }
  .img-four{
    background-image: url(./images/mobile/image-grid.jpg);
  }
  .img-five{
    background-image: url(./images/mobile/image-from-above.jpg);
  }
  .img-six{
    background-image: url(./images/mobile/image-pocket-borealis.jpg);
  }
  .img-seven{
    background-image: url(./images/mobile/image-curiosity.jpg);
  }
  .img-eight{
    background-image: url(./images/mobile/image-fisheye.jpg);
  }
   /*Grid Images END*/

/* Grid Container-mobile END*/



.creations-m {
  display: block;
  margin-bottom: 10rem;
  margin-top: 3rem;
  text-align: center;

}

.creations-m a{
    color: black;
    border: 1px solid black;
    font-family: "Alata", sans-serif;
    font-weight: 400;
    font-size: 1.25rem;
    letter-spacing: 0.2rem;
    padding: 0.5rem 3rem;
    text-decoration: none;
}

.footer-nav {
  margin-right: auto;
  margin-left: 11.25%;
}

.footer-nav li {
  display: inline-block;
}

.footer-nav li a {
  color: white;
  font-weight: 400;
  font-family: "Alata", sans-serif;
  text-decoration: none;
  margin: 0px 20px;
  letter-spacing: 1px;
  cursor: pointer;
}

.fparttwo h3 {
  font-family: "Alata", sans-serif;
  color: var(--veryDarkGray);
  margin-right: 9%;
  font-size: 1.15rem;
}


.footer-m{
  display: block;
  text-align: center;
}

.footer-m h3{
  color: white;
}

.footer-m img {
  margin-top: 15%;
}

.footer-nav-m li{
  margin-bottom: 5%;
}

.footer-nav-m a{
  color: white;
  text-decoration: none;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 200;
  font-size: 1.5rem;
}

.footer-nav-m{
  margin-top: 10%;
  margin-bottom: 15%;
}

#icons-m{
  margin: 0 auto;
}

#icons-m i {
  font-size: 2rem;
  padding: 2.5%;
}

.footer-m h3{
  font-family: "Alata", sans-serif;
  color: var(--veryDarkGray);
  margin-top: 3.5%;
  margin-bottom: 15%;
  font-size: 1.25rem;
}

.container2{
  display: flex;
  list-style-type: none;
  width: 50%;
  background: lightcoral;
  height: 100%;
  justify-content: center;
  align-items: flex-start;
  margin-left: auto;

}

.container2 li a {
  display: block;
  color: white;
  font-weight: 200;
  font-size: large;
  font-family: "Josefin Sans",sans-serif;
  text-decoration: none;
  margin-top:1rem;
  margin-left: 2rem;
  letter-spacing: 1px;
  cursor: pointer;
  font-size: 3rem;
}

.container2{
  position: fixed;
  background: black;
  height: 100vh;
  width: 100%;
  flex-direction: column;
  clip-path: circle(100px at 100% -20%);
  -webkit-clip-path:circle(100px at 100% -20%);
  transition: all 1s ease-out;
}

.container2.open{
  clip-path: circle(1100px at 90% -15%);
  -webkit-clip-path:circle(1100px at 90% -15%);
}

.toggle{
  z-index: 2;
  cursor: pointer;
}

.container2 li{
  opacity: 0;
}

.container2 li:nth-child(1){
    transition: all 0.5s ease 0.2s;
}

.container2 li:nth-child(2){
  transition: all 0.5s ease 0.3s;
}

.container2 li:nth-child(3){
  transition: all 0.5s ease 0.4s;
}

.container2 li:nth-child(4){
  transition: all 0.5s ease 0.5s;
}

.container2 li:nth-child(5){
  transition: all 0.5s ease 0.6s;
}

li.fade {
  opacity: 1;
}

.card-container-m.close{
  display: none;
}

main.close{
  display: none;
}

.footer-m.close{
  display: none;
}


html.close, body.close {
  margin: 0;
  height: 100%;
  overflow: hidden;
}
